<nlog>
  <variable name="logDirectory" value="C:\Logs" />
  <variable name="messageLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|ThreadID:${threadid}|${level}|${callsite}|${message}${exception}" />
  <targets>
    <target name="CustomJobAppender" type="File" fileName="${logDirectory}/CustomJobLogs_${shortdate}.txt" />
    <target name="SchedulerAppender" type="File" fileName="${logDirectory}/SchedulerLogs_${shortdate}.txt" />

    <target name="ConsoleAppender" type="Console" layout="${messageLayout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ConsoleAppender" />

    <logger name="CustomJobLogger" minLevel="Trace" writeTo="CustomJobAppender" final="true" />
    <logger name="*" minLevel="Trace" writeTo="SchedulerAppender" />
  </rules>
</nlog>