/****** Object:  Table [dbo].[JOBDETAIL]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBDETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JOBNAME] [nvarchar](255) NOT NULL,
	[JOBGROUP] [nvarchar](255) NOT NULL,
	[JOBDESCRIPTION] [nvarchar](max) NULL,
	[JOBSCHEDULE] [nvarchar](100) NULL,
	[JOBLASTRUNTIME] [datetimeoffset](7) NULL,
	[JOBNEXTRUNTIME] [datetimeoffset](7) NULL,
	[STATUSID] [tinyint] NOT NULL,
	[INSTANCEID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_JOBDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBSTATUS]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBSTATUS](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STATUSNAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULERINSTANCE]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULERINSTANCE](
	[ID] [uniqueidentifier] NOT NULL,
	[INSTANCENAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SCHEDULERINSTANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULERINSTANCESETTING]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULERINSTANCESETTING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INSTANCEID] [uniqueidentifier] NOT NULL,
	[ISIMMEDIATEENGINESTARTENABLED] [bit] NOT NULL,
	[ISJOBSDIRECTORYTRACKINGENABLED] [bit] NOT NULL,
 CONSTRAINT [PK_SCHEDULERINSTANCESETTING_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULERSTATUS]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULERSTATUS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[STATUSNAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_STATUSGROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JOBSTATUS] ON 

INSERT [dbo].[JOBSTATUS] ([ID], [STATUSNAME]) VALUES (1, N'Active')
INSERT [dbo].[JOBSTATUS] ([ID], [STATUSNAME]) VALUES (2, N'Inactive')
SET IDENTITY_INSERT [dbo].[JOBSTATUS] OFF
INSERT [dbo].[SCHEDULERINSTANCE] ([ID], [INSTANCENAME]) VALUES (N'5aaf9fd7-5bc6-4c49-a7bd-182966a34d4c', N'Console-DEFAULT1')
INSERT [dbo].[SCHEDULERINSTANCE] ([ID], [INSTANCENAME]) VALUES (N'98c1a030-039d-4ee3-9cca-640b5f47848a', N'WebManagementConsole-DEFAULT')
SET IDENTITY_INSERT [dbo].[SCHEDULERINSTANCESETTING] ON 

INSERT [dbo].[SCHEDULERINSTANCESETTING] ([ID], [INSTANCEID], [ISIMMEDIATEENGINESTARTENABLED], [ISJOBSDIRECTORYTRACKINGENABLED]) VALUES (1, N'5aaf9fd7-5bc6-4c49-a7bd-182966a34d4c', 0, 1)
INSERT [dbo].[SCHEDULERINSTANCESETTING] ([ID], [INSTANCEID], [ISIMMEDIATEENGINESTARTENABLED], [ISJOBSDIRECTORYTRACKINGENABLED]) VALUES (2, N'98c1a030-039d-4ee3-9cca-640b5f47848a', 1, 1)
SET IDENTITY_INSERT [dbo].[SCHEDULERINSTANCESETTING] OFF
SET IDENTITY_INSERT [dbo].[SCHEDULERSTATUS] ON 

INSERT [dbo].[SCHEDULERSTATUS] ([ID], [STATUSNAME]) VALUES (1, N'StandBy')
INSERT [dbo].[SCHEDULERSTATUS] ([ID], [STATUSNAME]) VALUES (2, N'Normal')
INSERT [dbo].[SCHEDULERSTATUS] ([ID], [STATUSNAME]) VALUES (3, N'Paused')
SET IDENTITY_INSERT [dbo].[SCHEDULERSTATUS] OFF
ALTER TABLE [dbo].[SCHEDULERINSTANCESETTING] ADD  CONSTRAINT [DF_SCHEDULERINSTANCESETTING_ISIMMEDIATEENGINESTARTENABLED]  DEFAULT ((1)) FOR [ISIMMEDIATEENGINESTARTENABLED]
GO
ALTER TABLE [dbo].[SCHEDULERINSTANCESETTING] ADD  CONSTRAINT [DF_SCHEDULERINSTANCESETTING_ISJOBSDIRECTORYTRACKINGENABLED]  DEFAULT ((1)) FOR [ISJOBSDIRECTORYTRACKINGENABLED]
GO
ALTER TABLE [dbo].[JOBDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_JOBDETAIL_SCHEDULERINSTANCE] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[SCHEDULERINSTANCE] ([ID])
GO
ALTER TABLE [dbo].[JOBDETAIL] CHECK CONSTRAINT [FK_JOBDETAIL_SCHEDULERINSTANCE]
GO
ALTER TABLE [dbo].[JOBDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_JOBDETAIL_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[JOBSTATUS] ([ID])
GO
ALTER TABLE [dbo].[JOBDETAIL] CHECK CONSTRAINT [FK_JOBDETAIL_STATUS]
GO
ALTER TABLE [dbo].[SCHEDULERINSTANCESETTING]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULERINSTANCESETTING_SCHEDULERINSTANCE] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[SCHEDULERINSTANCE] ([ID])
GO
ALTER TABLE [dbo].[SCHEDULERINSTANCESETTING] CHECK CONSTRAINT [FK_SCHEDULERINSTANCESETTING_SCHEDULERINSTANCE]
GO
/****** Object:  StoredProcedure [dbo].[usp_GETSCHEDULERINSTANCEDETAILS]    Script Date: 01.03.2018 18:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GETSCHEDULERINSTANCEDETAILS]
	@ID uniqueidentifier
AS
BEGIN
	SELECT INSTANCE.ID, INSTANCE.INSTANCENAME, SETTINGS.ISIMMEDIATEENGINESTARTENABLED, SETTINGS.ISJOBSDIRECTORYTRACKINGENABLED 
	FROM dbo.SCHEDULERINSTANCE AS INSTANCE
		LEFT JOIN dbo.SCHEDULERINSTANCESETTING AS SETTINGS on SETTINGS.INSTANCEID = INSTANCE.ID 
	WHERE INSTANCE.ID = @ID
END
GO